# macOS
.DS_Store

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
/.build
/Packages
/*.xcodeproj
Package.resolved

# CocoaPods
Pods/
*.podspec.lock

# Build artifacts
.build/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
